/* =========================
   Botões (CTA e primário)
   ========================= */
.cta , .btn-primary, .btn-calendary-status,  .calendar-filter{
  padding: 16px 26px;
  border-radius: 10px;
  border: none;
  font-weight: 800;
  letter-spacing: .3px;
  color: #0b0b12;
  background: linear-gradient(180deg, #c7b8ff 0%, #a78bfa 100%);
  cursor: pointer;
  box-shadow:
    0 0 0 1px #8b5cf6,
    0 24px 80px 0 #8b5cf680,
    0 8px 24px #00000066;
}

.btn-calendary-status {
  padding: 8px 14px;
  transform: translate(-3px, 0px);
}

.custom-calendar {
  position: relative;
}

.cta:hover, .btn-calendary-status:hover, .calendar-filter:hover{ filter: brightness(1.05); }

/* Responsivo (.cta) */
@media (max-width: 840px){
  .cta{ right: 20px; bottom: 20px; }
}