/* Responsivo (layout) */
@media (max-width: 520px){
  .toolbar{ gap: 16px; }
  .titles h1{ font-size: 28px; }
  .brand-chip {
    position: relative!important;

    
    
  }

.custom-calendar {
  width: 20rem;
  position: fixed;

  z-index: 1;
  
}

.modal-card {
  width: 20rem!important;
}

  .Calendar {
   justify-content: center;
  }
}